# Ignore the Python virtual environment
venv/

# Ignore the database file, but keep downloads folder
jobs.db

# Ignore secret environment variables
.env

# Ignore Python cache files
__pycache__/
*.pyc
